<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand navbar-brand-autodark">
      <a href="dashboard.php">GoTour Admin</a>
    </h1>
    <div class="navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="dashboard.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-speedometer2"></i>
            </span>
            <span class="nav-link-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-people"></i>
            </span>
            <span class="nav-link-title">Người dùng</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-map"></i>
            </span>
            <span class="nav-link-title">Tour</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-cart"></i>
            </span>
            <span class="nav-link-title">Đơn hàng</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-newspaper"></i>
            </span>
            <span class="nav-link-title">Tin tức</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacts.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-envelope"></i>
            </span>
            <span class="nav-link-title">Liên hệ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="manage_about.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-info-circle"></i>
            </span>
            <span class="nav-link-title">Giới thiệu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="manage_faq.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-question-circle"></i>
            </span>
            <span class="nav-link-title">FAQ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-gear"></i>
            </span>
            <span class="nav-link-title">Cài đặt</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <hr class="navbar-divider my-3">
          <a class="nav-link" href="../index.php">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="bi bi-box-arrow-left"></i>
            </span>
            <span class="nav-link-title">Về trang public</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
